/* Dasmoto's Arts & Crafts CSS */

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 5px;
}

h1,
h2,
h3,
p {
  font-family: "Helvetica", sans-serif;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  padding: 10px;
  margin: 40px 0;
  background-image: url("../img/pattern.jpeg");
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

section img {
  padding: 30px 0;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
  margin-top: 15px;
}

.paint {
  background-color: skyblue;
  margin-top: 15px;
}

.blue-text {
  font-weight: bold;
  color: blue;
}